/Traducciones.xcodeproj/project.xcworkspace/xcuserdata/jmpg93.xcuserdatad/UserInterfaceState.xcuserstate
/Traducciones.xcodeproj/project.xcworkspace/xcshareddata/Traducciones.xccheckout
/.DS_Store
/Traducciones/.DS_Store
/Traducciones.xcodeproj/xcuserdata/jmpg93.xcuserdatad/xcdebugger/